<div class="flex h-screen flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img
      class="mx-auto h-12 w-auto"
      src="/assets/oselar_black.png "
      alt="Your Company"
      width="12"
      height="20"
    />
    <h1
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Forgot your password?
    </h1>
    <p class="text-center text-zinc-500 mt-5">
      Enter the email address you used when you joined and we’ll send you
      instructions to reset your password
    </p>
    <p class="text-center text-zinc-500 mt-5">
      For security reasons, we do NOT store your password. So rest assured that
      we will never send your password via email.
    </p>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-md">
    <form class="space-y-6" (ngSubmit)="sendResetLink()">
      <div class="mb-5">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-zinc-900 ng-invalid"
          >Email Address</label
        >
        <input
          type="email"
          pInputText
          id="email"
          [formControl]="email"
          class="block w-full p-3 bg-zinc- border-zinc-200 shadow-none bg-zinc-100"
        />
        @if (email.invalid && (email.dirty || email.touched)) {
        <p id="helper-text-explanation" class="mt-2 text-sm text-red-500">
          @if (email.hasError('email')) {
          <span>{{ "Email is invalid use example: name@example.com" }}</span>
          } @else if (email.hasError('required')) {
          <span>Email Can't be Empty</span>
          }
        </p>
        }
      </div>

      <div>
        <button
          pButton
          pRipple
          label="Send Reset Instructions"
          [disabled]="email.invalid"
          class="bg-osaccent border-osaccent w-full p-3"
        ></button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a
        routerLink="/signup"
        class="font-semibold leading-6 text-osaccent hover:text-orange-600"
        >Create Account</a
      >
    </p>
  </div>
</div>
