<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
  <div class="sm:grid sm:grid-cols-7 gap-5">
    <div class="col-span-5">
      <div class="flex justify-between">
        <h3 class="text-xl sm:text-2xl font-bold text-zinc-900">
          Set your password
        </h3>
        <button
          routerLink="/profile"
          type="button"
          class="text-zinc-900 bg-zinc-100 hover:bg-zinc-200 border border-zinc-200 focus:ring-4 focus:outline-none focus:ring-zinc-100 font-medium rounded-lg text-sm px-5 py-2 text-center inline-flex items-center me-2 mb-2"
        >
          View Profile
        </button>
      </div>
      <hr class="h-5 mt-8 w-full" />
      <p-messages
        [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"
      />
      <div class="">
        <div>
          <div class="flex flex-col gap-3">
            <label
              for="email"
              class="block text-base font-bold text-zinc-900 ng-invalid"
              >New Password</label
            >
            <p id="helper-text-explanation" class="text-sm text-zinc-500">
              Enter the new password you would like.
            </p>
            <p-password
              type="password"
              id="password"
              formControlName="password"
              autocomplete="new-password"
              placeholder="8 characters minimum"
              [feedback]="true"
              [toggleMask]="true"
            >
              <ng-template pTemplate="header">
                <h6 class="font-bold">Pick a password</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                <!-- <p-divider /> -->
                <p class="mt-2">Suggestions</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                  <li>At least one lowercase</li>
                  <li>At least one uppercase</li>
                  <li>At least one numeric</li>
                  <li>Minimum 8 characters</li>
                </ul>
              </ng-template>
            </p-password>
          </div>
          <div class="flex flex-col gap-3 mt-5">
            <label
              for="email"
              class="block text-base font-bold text-zinc-900 ng-invalid"
              >Verify new password</label
            >
            <p id="helper-text-explanation" class="text-sm text-zinc-500">
              Reenter your password to verify.
            </p>
            <p-password
              type="password"
              id="password"
              formControlName="confirm_password"
              autocomplete="new-password"
              placeholder="8 characters minimum"
              [feedback]="false"
              [toggleMask]="true"
              class=""
            />
            @if (passwordForm.invalid && (passwordForm.dirty ||
            passwordForm.touched)) {
            <p id="helper-text-explanation" class="text-red-500">
              @if (passwordForm.hasError('passwordMatch')) {
              <span>Passwords do not match.</span>
              }
            </p>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="hidden sm:block sm:col-span-2"></div>
  </div>
  <div>
    <button
      pButton
      pRipple
      label="Set Password"
      [disabled]="passwordForm.invalid"
      class="bg-zinc-900 border-zinc-700 w-40 p-3 mt-5 disabled:bg-zinc-800 disabled:cursor-not-allowed"
    ></button>
  </div>
</form>
