<div class="flex h-screen flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto h-12 w-auto"
      ngSrc="/assets/oselar_black.png "
      alt="oselar logo"
      width="100"
      height="100"
      priority
    />
    <h1
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Welcome Back to Oselar
    </h1>
    <p class="text-zinc-500 mt-5 text-center">
      Please login with your account email and password to get started
    </p>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-md">
    @if (loginError) {
    <div
      class="p-4 mb-4 text-sm text-red-600 rounded-lg bg-red-100"
      role="alert"
    >
      {{ loginError }}
    </div>
    }
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-5">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-zinc-900 ng-invalid"
          >Your email</label
        >
        <input
          type="email"
          pInputText
          id="email"
          formControlName="email"
          class="block w-full p-2.5 bg-zinc-50"
        />
        @if (email?.invalid && (email?.dirty || email?.touched)) {
        <p id="helper-text-explanation" class="mt-2 text-sm text-red-500">
          @if (email?.hasError('email')) {
          <span>{{ "Email is invalid use example: name@example.com" }}</span>
          } @else if (email?.hasError('required')) {
          <span>Email Can't be Empty</span>
          }
        </p>
        }
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label
          >
          <div class="text-sm">
            <a
              routerLink="/reset/password"
              class="font-semibold text-osaccent hover:text-orange-600"
              >Forgot password?</a
            >
          </div>
        </div>
        <div class="mt-2">
          <input
            type="password"
            pPassword
            id="password"
            formControlName="password"
            class="block w-full p-2.5 bg-zinc-50"
            autocomplete="new-password"
            [feedback]="false"
          />
          @if (password?.invalid && (password?.dirty || password?.touched)) {
          <p id="helper-text-explanation" class="mt-2 text-sm text-red-500">
            @if (email?.hasError('required')) {
            <span>Password Can't be Empty</span>
            }
          </p>
          }
        </div>
      </div>

      <div>
        <button
          pButton
          pRipple
          label="Submit"
          [disabled]="loginForm.invalid"
          class="bg-osaccent border-osaccent w-full"
        ></button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not a member?
      <a
        routerLink="/signup"
        class="font-semibold leading-6 text-osaccent hover:text-orange-600"
        >Create Account</a
      >
    </p>
  </div>
</div>
